
[alias]
	ap = add --patch
	b = branch -vv
	# b = branch --color --format='"%(align:14)%(HEAD) %(refname:short)%(end)%(color:red)%(push:short) %(push:track)%(color:reset)%(contents:subject)"'
	caa = !bash -c '"git commit --amend -a -m \"$(git log --format=format:%B -n 1)\" --cleanup=strip"'
	caan = !bash -c '"git commit --amend -an -m \"$(git log --format=format:%B -n 1)\" --cleanup=strip"'
	cd = commit -m Documentation
	cda = commit -a -m Documentation
	cda = commit -a -mDocumentation
	cf = commit -m 'Trivial refactor'
	cfa = commit -a -m 'Trivial refactor'
	ci = commit
	ciam = commit -a -m
	co = checkout
	cp = cherry-pick -x
	cr = commit -m 'Trivial reformat'
	cra = commit -a -m 'Trivial reformat'
	csa = commit -a -m'Sanity Check'
	cw = commit -m 'Whitespace'
	cwa = commit -a -m 'Whitespace'
	d = diff
	dc = diff --cached
	dn = diff --numstat
	dno = diff --name-only
	dw = diff --word-diff
	dwa = diff --word-diff-regex=.
	exec = "!exec "
	l = log --oneline --decorate --format=format:'%Cgreen%h%Cred %<(10,trunc)%an%Cblue%D%Creset %<(80,trunc)%s'
	l1 = !bash -c '"git log $* --format=format:\"%Cgreen%h%Cred %<(12,trunc)%an%Creset [%>(${w-11})%(trailers:key=${trailer},valueonly)%-C()] %<(60,trunc)%s %Cblue%D%Creset\""' _
	l1a = log --format=format:'%Cgreen%h%Cred %<(10,trunc)%an%Creset %<(40,trunc)%s %Cblue%d%Creset' --graph
	l1ah = log -n 10 --format=format:'%Cgreen%h%Cred %<(10,trunc)%an%Creset %<(40,trunc)%s %Cblue%d%Creset' --graph
	l1h = l1 -n 10
	la = log --oneline --graph --decorate --format=format:'%Cgreen%h%Cblue%d%Creset %<(80,trunc)%s'
	ld = log --date=format:'%H:%M:%S %d%b%y' --format=format:'%Cgreen%h%C(yellow) %Cred %<(10,trunc)%an%Creset %<(60,trunc)%s %ad %Cblue%D%Creset'
	ldh = log -n 10 --date=format:'%H:%M:%S %d%b%y' --format=format:'%Cgreen%h%C(yellow) %Cred %<(10,trunc)%an%Creset %<(60,trunc)%s %ad %Cblue%D%Creset'
	lg = log
	lh  = log -n 10 --decorate --format=format:'%Cgreen%h%Cred %<(12,trunc)%an%Creset %<(60,trunc)%s %Cblue%D%Creset' --graph
	ll = log --stat
	lm = log --pretty=oneline --author=wrp
	lp = log -p
	lr = log --format=format:'%Cgreen%h%C(yellow) %cr %Cred %<(10,trunc)%an%Creset %<(60,trunc)%s %Cblue%D%Creset'
	ls = log --oneline --decorate --format=format:'%Cgreen%h%Cred %<(10,trunc)%an%Cblue%D%Creset %<(80,trunc)%s' --show-signature
	lt  = log --format=format:'%<(40,trunc)%s %Cblue%D%Creset'
	no = show --name-only --pretty=format:
	s = status
	sa = status -uall --ignored
	sl = stash list
	sp = stash pop --quiet
	ss = stash push
	w = rev-parse --abbrev-ref HEAD
[apply]
	whitespace = error
[core]
	whitespace = tab-in-indent
	editor = vim
[push]
	default = upstream
	autoSetupRemote = true
[pager]
	status = true

[init]
	defaultBranch = main
[versionsort]
	prereleaseSuffix = .rc
[color "branch"]
	meta = red green bold
[color]
	branch = true
[pull]
	rebase = true
[advice]
	detachedHead = false
[include]
	path = ~/.gitconfig-user
[tag]
	gpgSign = true
[commit]
	gpgSign = true
[merge]
	tool = vimdiff
[status]
	showUntrackedFiles = no
[diff]
	base-branch = dev
	# ignoreSubmodules = all        # ignore with --ignore-submodules=none
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
