
[alias]
	a = add-files
	ab = archive-branch
	ap = add --patch
	b = interactive-branch
	caa = commit --amend -a -C HEAD --cleanup=strip
	caan = caa -n
	cf = cwip -m 'Trivial reformat'
	cfa = cf -a
	ci = commit
	ciam = ci -am
	cl = cwip -m 'Fix lint issues'
	cla = cl -a
	co = checkout
	cp = cherry-pick
	cpx = cp -x
	cr = cwip -m 'Trivial refactor'
	cra = cr -a
	credit = annotate
	cs = cwip -m 'Sanity Check'
	csa = cs -a
	cw = cwip -m 'Whitespace'
	cwa = cw -a
	cwip = ci --trailer type:wip
	d = diff
	dc = diff --cached
	dcno = diff --cached --name-only
	dm = !git diff --merge-base "$(git-base-branch)"
	dmno = dm --name-only
	dn = diff --numstat
	dno = diff --name-only
	dw = diff --word-diff
	dwa = diff --word-diff-regex=.
	exec = "!exec "  # execute a shell command in the top level
	l1 = log-oneline
	l = l1
	l1a = l1 --graph --decorate
	l1ah = l1 -n 10 --graph --decorate
	l1h = l1 -n 10
	l11 = l1 --first-parent
	l11a = l1a --first-parent
	l11ah = l1ah --first-parent
	l11h = l1h --first-parent
	la = l1 --graph --decorate  # same as l1a
	ld = l1 --date=format:'%FT%T%z'
	ldh = ld -n 10
	ls = l1 --show-signature
	no = show --name-only --pretty=format:
	r = recurse
	s = status --short
	sa = status -uall --ignored
	sk = !bash -c 'git stash push --keep-index ${1:+-m \"${*}\"}' _
	sl = stash list
	sp = stash pop --quiet
	sq = squash
	ss = !bash -c 'git stash push ${1:+-m \"${*}\"}' _
	u = update
	w = rev-parse --abbrev-ref HEAD
[apply]
	whitespace = error
[core]
	# whitespace = tab-in-indent
	whitespace = indent-with-non-tab
	editor = vim
[push]
	default = upstream
	autoSetupRemote = true
[pager]
	status = true

[init]
	defaultBranch = main
[versionsort]
	prereleaseSuffix = .rc
[color "branch"]
	meta = red green bold
	current = black cyan
	worktree = black yellow
[color]
	branch = true
[pull]
	rebase = true
[advice]
	detachedHead = false
	addEmptyPathspec = false
[tag]
	gpgSign = true
[commit]
	status = false
	gpgSign = false
[include]
	path = ~/.gitconfig-local
[merge]
	tool = vimdiff
[status]
	showUntrackedFiles = no
[diff]
	wsErrorHighlight = all
	# ignoreSubmodules = all        # ignore with --ignore-submodules=none
[submodule]
	recurse = true
[color "diff"]
	whitespace = red reverse
[log]
	follow = true
	default-trailer = type
	trailer-width = 3
[help]
	autocorrect = never
